<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Carga de imagenes</h1>
    <br>
    <form action="/addImg" method="post">
        <label for="img">Carga tu imagen:</label>
        <br>
        <input type="file" name="picture" id="img">
    </form>
</body>
</html>