/* Estilo del fondo del body */
body {
  background-color: bisque;
}

/* Estilo del overlay para el popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  /* fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del popup */
.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* Estilo del formulario dentro del popup */
.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo de las etiquetas del formulario */
.popup label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Estilo de los inputs del formulario */
.popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: gainsboro;
}

/* Estilo del botón del formulario */
.popup button {
  padding: 10px 20px;
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Estilo del contenedor de los elementos de la página */
.contenido {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Estilo del primer elemento dentro del contenedor */
.inner1 {
  display: flex;
  align-items: center;
  margin: 5px;
  flex: 1;
  min-width: 150px;
  background: skyblue;
  padding: 20px;
  border: 1px solid black;
  flex-direction: row;
  border-radius: 5px;
}

/* Estilo del elemento medio dentro del contenedor */
.medio {
  display: flex;
  align-items: center;
  flex: 0, 5;
  background: greenyellow;
  border: 1px solid black;
  flex-direction: row;
  border-radius: 10px;
  appearance: none;
}

/* Estilo del segundo elemento dentro del contenedor */
.inner2 {
  display: flex;
  align-items: center;
  margin: 5px;
  flex: 1;
  min-width: 150px;
  background: crimson;
  padding: 20px;
  border: 1px solid black;
  flex-direction: row;
  border-radius: 5px;
}

/* Estilo de la imagen dentro del primer y segundo elemento */
.inner1 img,
.inner2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

/* Estilo del contenedor de información del avatar */
.avatar-info {
  display: flex;
  flex-direction: column;
}

/* Estilo del nombre del avatar */
.avatar-info h2 {
  margin: 0;
}

/* Estilo de la descripción del avatar */
.avatar-info p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

/* Establece un contenedor flexible y adaptable que contiene las cartas de memoria */
.memory-game {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
}

/* Establece los estilos de una carta de memoria */
.memory-card {
  width: 15%;
  height: 0;
  padding-bottom: 15%;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* Agrega un cursor al pasar el mouse sobre una carta de memoria */
.memory-card:hover {
  cursor: pointer;
}

/* Establece el estilo de una carta de memoria activa (haciendo clic) */
.memory-card:active {
  transform: scale(0.97);
}

/* Establece el estilo de una carta de memoria volteada */
.memory-card.is-flipped {
  transform: rotateY(180deg);
}

/* Establece los estilos de la cara frontal y trasera de una carta de memoria */
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(0deg);
}

.back-face {
  transform: rotateY(180deg);
}

/* Establece el estilo para los tabs de los jugadores */
.player-tab {
  display: none;
}

#player1-tab {
  display: block;
}

/* Agrega estilos para las imágenes dentro del contenedor grid */
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Establece el estilo para el elemento de selección */
select {
  appearance: none;
  background-color: greenyellow;
  color: black;
  font-size: 16px;
  padding: 8px;
  width: 100px;
}

/* Establece el estilo para cuando se pasa el mouse o se selecciona el elemento de selección */
select:hover,
select:focus {
  outline: none;
}

/* Establece el estilo para un elemento con la clase "space" */
.space {
  opacity: 0;
}